<div class="card card-border-primary mb-3">
    <div class="card-header">Estudiantes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Estudiantes</h5>

      <div class="my-2 text-left" >
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]= "['/estudiantes/form']">Crear Estudiante</button>
      </div>
      
      <table class="table table-bordered">
        <thead>
            <tr>
                <th>id</th>
                <th>primerNombre</th>
                <th>segundoNombre</th>
                <th>primerApellido</th>
                <th>segundoApellido</th>
                <th>tipoDocumento</th>
                <th>numeroDocumento</th>
                <th>curso</th>
                <th>estado</th>
                
                
            </tr>

        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{estudiante.id}}</td>
                <td>{{estudiante.primerNombre}}</td>
                <td>{{estudiante.segundoNombre}}</td>
                <td>{{estudiante.primerApellido}}</td>
                <td>{{estudiante.segundoApellido}}</td>
                <td>{{estudiante.tipoDocumento}}</td>
                <td>{{estudiante.numeroDocumento}}</td>
                <td>{{estudiante.curso}}</td>
                <td>{{estudiante.estado}}</td>
                
                <td>
                  <button type="button" name="button" [routerLink]="['/estudiantes/form',estudiante.id]" 
                  class="btn btn-primary">editar</button>
                </td>
                
              
            </tr>

        </tbody>
       
      </table>






    </div>
  </div>