<div class="card card-border-primary mb-2">
    <div class="card-header">Estudiantes</div>
    <div class="card-body">
      <h5 class="card-title">Listado de Estudiantes</h5>

      <div class="my-2 text-left" >
        <button class="btn btn-rounded btn-primary" type="button" [routerLink]= "['/estudiantes/form']">Crear Estudiante</button>
      </div>
      <div *ngIf="estudiantes!.length==0" class="alert alert-info">
          No hay registros en la base de datos¡
      </div>
      
      <table class="table table-bordered table-striped" *ngIf="estudiantes!.length>0 ">
        <thead >
            <tr>
                <th>id</th>
                <th>primerNombre</th>
                <th>segundoNombre</th>
                <th>primerApellido</th>
                <th>segundoApellido</th>
                <th>tipo</th>
                <th>numeroDocumento</th>
                <th>curso</th>
                <th>estado</th>
                <th>fecha</th>
                <th>editar</th>
                <th>eliminar</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let estudiante of estudiantes">
                <td>{{estudiante.id}}</td>
                <td>{{estudiante.primerNombre}}</td>
                <td>{{estudiante.segundoNombre}}</td>
                <td>{{estudiante.primerApellido}}</td>
                <td>{{estudiante.segundoApellido}}</td>
                <td>{{estudiante.tipo}}</td>
                <td>{{estudiante.numeroDocumento}}</td>
                <td>{{estudiante.curso}}</td>
                <td>{{estudiante.estado}}</td>
                <td>{{estudiante.fecha}}</td>
                <td>
                  <button type="button" name="editar" [routerLink]="['/estudiantes/form',estudiante.id]" class="btn btn-primary">editar</button>
                </td> 
                <td>
                  <button type="button" name="eliminar" (click)="delete(estudiante)" class="btn btn-danger">eliminar</button>
                </td>
            </tr>

        </tbody>
       
      </table>






    </div>
  </div>